# ─────────────────────────────────────────────────────────────────
#  .env — Environnement de TEST / DÉVELOPPEMENT LOCAL
# ─────────────────────────────────────────────────────────────────

# ── Serveur ─────────────────────────────────────────────────────
NODE_ENV=development
PORT=5102
APP_URL=http://localhost:5102

# ── API ─────────────────────────────────────────────────────────
API_URL=http://localhost:5102
API_SECRET=dev_DHIODJ2732UHdjoisdjffdsfsdfD9SUJDI

# ── TELEGRAM TOKEN ─────────────────────────────────────────────────────────
TELEGRAM_BOT_TOKEN=8810362783:AAHu6lIU6ZoYYd5yWWuCLBE45c6SRK9jh_w

# ── Base de données MySQL ───────────────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=streamloader